<li class="media event">
  <a class="pull-left border-aero profile_thumb">
    <i class="fa fa-cutlery aero"></i>
  </a>
  <div class="media-body">
  <a class="title" href="#"><%= products_sell['name'] %></a>
    <p>Total Revenue: <strong>$ <%= products_sell['sum'] %></strong></p>
    </p>
  </div>
</li>