<tr>
  <td><%= category.name %></td>
  <td><%= category.description %></td>
  <td>
    <%= link_to edit_category_path(category) do %>
      <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
    <% end %>
  </td>
  <td><%= link_to category_path(category), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <button class="btn btn-danger btn-xs"><span class="fa fa-trash"></span></button>
    <% end %>
  </td>
</tr>
